@inject IOptions<AppAuthenticationOptions> AuthOptions

<nav class="top-nav">
    <a class="brand" href="">
        <span class="brand-mark">LA</span>
        <span>
            <strong>Log Analyzer</strong>
        </span>
    </a>

    <div class="nav-links">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Дашборд</NavLink>
        <NavLink class="nav-link" href="about">О проекте</NavLink>
    </div>

    <div class="nav-user">
        @if (AuthOptions.Value.Enabled)
        {
            <AuthorizeView>
                <Authorized>
                    <span>@context.User.Identity?.Name</span>
                    <a href="/logout">Выйти</a>
                </Authorized>
                <NotAuthorized>
                    <a href="/login">Войти</a>
                </NotAuthorized>
            </AuthorizeView>
        }
        else
        {
            <span>Локальный режим</span>
        }
    </div>
</nav>
